In [3]:
%env INSTANCE=my

env: INSTANCE=my

In [6]:
!mysql < /home/jupyter/sakila/sakila-database.sql

In [7]:
!mysql < /home/jupyter/sakila/sakila-data.sql

In [15]:
!mysql sakila -e "SELECT COUNT(*) FROM actor;"
!mysql sakila -e "SELECT COUNT(*) FROM customer;"
!mysql sakila -e "SELECT COUNT(*) FROM city;"
!mysql sakila -e "SELECT COUNT(*) FROM address;"
!mysql sakila -e "SELECT COUNT(*) FROM country;"

+----------+
| COUNT(*) |
+----------+
|      200 |
+----------+
+----------+
| COUNT(*) |
+----------+
|      599 |
+----------+
+----------+
| COUNT(*) |
+----------+
|      600 |
+----------+
+----------+
| COUNT(*) |
+----------+
|      603 |
+----------+
+----------+
| COUNT(*) |
+----------+
|      109 |
+----------+

In [18]:
!mysql sakila -e "SELECT actor_id, first_name, last_name FROM actor LIMIT 5;"
!mysql sakila -e "SELECT customer_id, first_name, last_name FROM customer LIMIT 5;"
!mysql sakila -e "SELECT film_id, title, release_year FROM film LIMIT 5;"
!mysql sakila -e "SELECT rental_id, rental_date, inventory_id FROM rental LIMIT 5;"
!mysql sakila -e "SELECT staff_id, first_name, last_name FROM staff LIMIT 5;"

+----------+------------+--------------+
| actor_id | first_name | last_name    |
+----------+------------+--------------+
|        1 | PENELOPE   | GUINESS      |
|        2 | NICK       | WAHLBERG     |
|        3 | ED         | CHASE        |
|        4 | JENNIFER   | DAVIS        |
|        5 | JOHNNY     | LOLLOBRIGIDA |
+----------+------------+--------------+
+-------------+------------+-----------+
| customer_id | first_name | last_name |
+-------------+------------+-----------+
|           1 | MARY       | SMITH     |
|           2 | PATRICIA   | JOHNSON   |
|           3 | LINDA      | WILLIAMS  |
|           4 | BARBARA    | JONES     |
|           5 | ELIZABETH  | BROWN     |
+-------------+------------+-----------+
+---------+------------------+--------------+
| film_id | title            | release_year |
+---------+------------------+--------------+
|       1 | ACADEMY DINOSAUR |         2006 |
|       2 | ACE GOLDFINGER   |         2006 |
|       3 | ADAPTATION HOLES |         2006 |
|       4 | AFFAIR PREJUDICE |         2006 |
|       5 | AFRICAN EGG      |         2006 |
+---------+------------------+--------------+
+-----------+---------------------+--------------+
| rental_id | rental_date         | inventory_id |
+-----------+---------------------+--------------+
|         1 | 2005-05-24 22:53:30 |          367 |
|         2 | 2005-05-24 22:54:33 |         1525 |
|         3 | 2005-05-24 23:03:39 |         1711 |
|         4 | 2005-05-24 23:04:41 |         2452 |
|         5 | 2005-05-24 23:05:21 |         2079 |
+-----------+---------------------+--------------+
+----------+------------+-----------+
| staff_id | first_name | last_name |
+----------+------------+-----------+
|        1 | Mike       | Hillyer   |
|        2 | Jon        | Stephens  |
+----------+------------+-----------+

In [27]:
#Gets all rental_dates with inventory_id that is greater than 4500 and orders them by inventory_id
!mysql sakila -e "SELECT rental_date, inventory_id FROM rental WHERE inventory_id > 4500 ORDER BY inventory_id;"

+---------------------+--------------+
| rental_date         | inventory_id |
+---------------------+--------------+
| 2005-08-02 03:48:17 |         4501 |
| 2005-08-19 08:07:50 |         4501 |
| 2005-05-25 19:12:42 |         4502 |
| 2005-06-15 16:06:29 |         4502 |
| 2005-07-06 05:37:18 |         4502 |
| 2005-08-02 04:24:23 |         4502 |
| 2005-08-17 09:51:54 |         4502 |
| 2005-07-12 16:06:00 |         4503 |
| 2005-07-27 19:48:12 |         4503 |
| 2005-08-23 01:44:43 |         4503 |
| 2005-06-15 01:24:20 |         4504 |
| 2005-07-06 13:04:35 |         4504 |
| 2005-08-01 09:31:00 |         4504 |
| 2005-08-20 08:26:32 |         4504 |
| 2005-07-28 18:49:43 |         4505 |
| 2005-08-22 21:34:00 |         4505 |
| 2005-06-18 08:51:29 |         4506 |
| 2005-07-06 17:24:49 |         4506 |
| 2005-07-27 07:00:37 |         4506 |
| 2005-08-21 06:23:29 |         4506 |
| 2005-05-27 16:31:05 |         4507 |
| 2005-06-16 13:05:09 |         4507 |
| 2005-07-08 04:18:36 |         4507 |
| 2005-07-29 14:45:45 |         4507 |
| 2005-08-22 21:24:19 |         4507 |
| 2005-07-06 14:00:41 |         4508 |
| 2005-07-28 23:56:01 |         4508 |
| 2005-08-20 02:27:13 |         4508 |
| 2005-07-07 00:47:00 |         4509 |
| 2005-07-28 07:28:03 |         4509 |
| 2005-08-23 19:54:24 |         4509 |
| 2005-05-31 11:02:01 |         4510 |
| 2005-06-19 15:43:20 |         4510 |
| 2005-07-06 02:35:41 |         4510 |
| 2005-07-29 10:37:23 |         4510 |
| 2005-08-21 04:30:49 |         4510 |
| 2005-06-19 16:20:40 |         4511 |
| 2005-07-08 17:01:48 |         4511 |
| 2005-07-26 22:56:00 |         4511 |
| 2005-08-23 14:31:19 |         4511 |
| 2005-08-01 04:40:02 |         4512 |
| 2005-08-18 12:25:16 |         4512 |
| 2005-07-30 12:13:48 |         4513 |
| 2005-08-22 09:51:54 |         4513 |
| 2005-07-09 11:24:19 |         4514 |
| 2005-08-02 16:33:11 |         4514 |
| 2005-08-20 15:05:42 |         4514 |
| 2005-06-18 23:48:47 |         4515 |
| 2005-07-07 21:20:28 |         4515 |
| 2005-08-02 17:53:36 |         4515 |
| 2005-08-23 16:07:15 |         4515 |
| 2005-06-18 12:12:29 |         4516 |
| 2005-07-09 07:28:33 |         4516 |
| 2005-07-29 09:12:01 |         4516 |
| 2005-08-18 12:25:01 |         4516 |
| 2005-07-10 05:15:43 |         4517 |
| 2005-07-26 23:08:04 |         4517 |
| 2005-08-22 09:36:33 |         4517 |
| 2005-07-27 04:16:37 |         4518 |
| 2005-08-21 17:56:50 |         4518 |
| 2005-07-29 00:49:15 |         4519 |
| 2005-08-23 02:44:49 |         4519 |
| 2005-07-06 03:57:35 |         4520 |
| 2005-08-02 11:52:41 |         4520 |
| 2005-08-20 18:28:28 |         4520 |
| 2005-07-12 03:11:23 |         4521 |
| 2005-07-30 06:36:57 |         4521 |
| 2005-08-20 21:19:36 |         4521 |
| 2005-05-31 02:37:00 |         4522 |
| 2005-06-18 11:15:27 |         4522 |
| 2005-07-06 01:00:21 |         4522 |
| 2005-08-02 02:14:40 |         4522 |
| 2005-08-19 19:35:33 |         4522 |
| 2005-07-07 18:44:23 |         4523 |
| 2005-08-01 03:35:11 |         4523 |
| 2005-08-22 18:59:01 |         4523 |
| 2005-05-31 10:56:32 |         4524 |
| 2005-06-15 13:53:32 |         4524 |
| 2005-07-10 00:11:09 |         4524 |
| 2005-07-29 03:44:30 |         4524 |
| 2005-08-19 15:02:48 |         4524 |
| 2005-07-30 12:43:24 |         4525 |
| 2005-08-22 19:54:26 |         4525 |
| 2005-08-01 09:38:28 |         4526 |
| 2005-08-22 12:41:33 |         4526 |
| 2005-06-20 17:26:05 |         4527 |
| 2005-07-11 21:03:12 |         4527 |
| 2005-08-01 19:59:41 |         4527 |
| 2005-08-21 02:07:22 |         4527 |
| 2005-07-09 10:52:09 |         4528 |
| 2005-07-29 10:26:14 |         4528 |
| 2005-08-17 14:21:11 |         4528 |
| 2005-06-20 19:18:32 |         4529 |
| 2005-07-07 19:52:01 |         4529 |
| 2005-07-30 12:20:59 |         4529 |
| 2005-08-19 06:22:37 |         4529 |
| 2005-06-15 06:21:30 |         4530 |
| 2005-07-11 12:18:07 |         4530 |
| 2005-08-01 11:55:54 |         4530 |
| 2005-08-18 19:17:47 |         4530 |
| 2005-06-19 11:12:35 |         4531 |
| 2005-07-09 02:34:45 |         4531 |
| 2005-07-29 15:41:31 |         4531 |
| 2005-08-19 05:04:09 |         4531 |
| 2005-06-21 11:38:45 |         4532 |
| 2005-07-06 15:00:14 |         4532 |
| 2005-07-30 03:28:27 |         4532 |
| 2005-08-21 01:33:32 |         4532 |
| 2005-07-12 20:58:04 |         4533 |
| 2005-07-29 04:49:26 |         4533 |
| 2005-08-21 15:00:49 |         4533 |
| 2005-05-28 10:12:41 |         4534 |
| 2005-06-20 08:06:18 |         4534 |
| 2005-07-12 01:15:24 |         4534 |
| 2005-08-01 23:29:58 |         4534 |
| 2005-08-22 10:19:58 |         4534 |
| 2005-05-30 18:45:17 |         4535 |
| 2005-06-15 09:03:52 |         4535 |
| 2005-07-07 06:38:31 |         4535 |
| 2005-07-30 00:12:41 |         4535 |
| 2005-08-23 02:06:01 |         4535 |
| 2005-06-16 03:31:39 |         4536 |
| 2005-07-11 02:26:29 |         4536 |
| 2005-07-30 07:45:49 |         4536 |
| 2005-08-21 14:23:01 |         4536 |
| 2005-06-15 23:36:37 |         4537 |
| 2005-07-06 01:11:08 |         4537 |
| 2005-07-30 02:31:26 |         4537 |
| 2006-02-14 15:16:03 |         4537 |
| 2005-07-30 09:24:18 |         4538 |
| 2005-08-17 06:12:27 |         4538 |
| 2005-06-20 07:29:15 |         4539 |
| 2005-07-12 00:20:29 |         4539 |
| 2005-07-27 12:52:13 |         4539 |
| 2005-08-23 01:07:37 |         4539 |
| 2005-05-29 05:30:31 |         4540 |
| 2005-06-15 12:39:52 |         4540 |
| 2005-07-08 19:42:03 |         4540 |
| 2005-07-30 04:42:54 |         4540 |
| 2005-08-21 04:29:26 |         4540 |
| 2005-07-31 20:05:45 |         4541 |
| 2005-08-19 20:28:21 |         4541 |
| 2005-07-06 01:22:45 |         4542 |
| 2005-08-01 03:39:50 |         4542 |
| 2005-08-23 01:13:52 |         4542 |
| 2005-07-10 04:00:31 |         4543 |
| 2005-07-28 16:39:43 |         4543 |
| 2005-08-20 03:41:57 |         4543 |
| 2005-06-20 09:18:22 |         4544 |
| 2005-07-06 07:55:22 |         4544 |
| 2005-07-30 14:18:16 |         4544 |
| 2005-08-20 05:40:33 |         4544 |
| 2005-07-27 23:36:01 |         4545 |
| 2005-08-19 12:41:41 |         4545 |
| 2005-05-31 13:15:41 |         4546 |
| 2005-06-19 03:08:51 |         4546 |
| 2005-07-06 00:46:54 |         4546 |
| 2005-07-30 01:08:06 |         4546 |
| 2005-08-22 20:31:38 |         4546 |
| 2005-07-29 17:31:40 |         4547 |
| 2005-08-20 04:31:45 |         4547 |
| 2005-06-21 18:07:07 |         4548 |
| 2005-07-06 20:09:11 |         4548 |
| 2005-07-31 23:25:24 |         4548 |
| 2005-08-23 16:27:59 |         4548 |
| 2005-07-10 17:28:14 |         4549 |
| 2005-08-01 22:52:45 |         4549 |
| 2005-08-23 18:54:07 |         4549 |
| 2005-06-19 15:42:07 |         4550 |
| 2005-07-11 21:17:40 |         4550 |
| 2005-07-31 01:11:53 |         4550 |
| 2005-08-22 12:01:16 |         4550 |
| 2005-07-29 05:11:19 |         4551 |
| 2005-08-17 22:53:00 |         4551 |
| 2005-07-12 12:59:16 |         4552 |
| 2005-07-30 09:43:12 |         4552 |
| 2005-08-22 11:09:56 |         4552 |
| 2005-07-29 09:04:17 |         4553 |
| 2005-08-23 15:03:13 |         4553 |
| 2005-05-29 20:14:34 |         4554 |
| 2005-06-18 11:46:26 |         4554 |
| 2005-07-06 11:12:02 |         4554 |
| 2005-07-31 12:24:19 |         4554 |
| 2005-08-23 18:31:40 |         4554 |
| 2005-07-11 02:06:36 |         4555 |
| 2005-07-31 09:56:56 |         4555 |
| 2005-08-21 10:23:10 |         4555 |
| 2005-05-27 00:47:35 |         4556 |
| 2005-06-18 20:32:40 |         4556 |
| 2005-07-11 19:06:01 |         4556 |
| 2005-07-28 08:06:52 |         4556 |
| 2005-08-21 22:08:52 |         4556 |
| 2005-07-07 19:21:19 |         4557 |
| 2005-08-01 17:32:53 |         4557 |
| 2005-08-20 02:48:43 |         4557 |
| 2005-05-28 23:00:08 |         4558 |
| 2005-06-18 08:10:42 |         4558 |
| 2005-07-06 14:32:44 |         4558 |
| 2005-08-01 02:46:13 |         4558 |
| 2005-08-18 01:10:17 |         4558 |
| 2005-06-20 09:02:51 |         4559 |
| 2005-07-07 13:39:58 |         4559 |
| 2005-07-27 15:54:19 |         4559 |
| 2005-08-23 18:50:54 |         4559 |
| 2005-05-31 16:49:34 |         4560 |
| 2005-06-19 02:44:17 |         4560 |
| 2005-07-12 01:27:09 |         4560 |
| 2005-07-31 11:32:58 |         4560 |
| 2005-08-23 06:25:07 |         4560 |
| 2005-07-06 12:30:12 |         4561 |
| 2005-07-27 12:50:17 |         4561 |
| 2005-08-20 10:29:57 |         4561 |
| 2005-07-10 12:15:33 |         4562 |
| 2005-07-30 11:23:22 |         4562 |
| 2005-08-17 12:54:47 |         4562 |
| 2005-07-08 23:51:26 |         4563 |
| 2005-08-01 00:12:36 |         4563 |
| 2005-08-23 01:50:31 |         4563 |
| 2005-06-19 01:34:26 |         4564 |
| 2005-07-07 08:49:02 |         4564 |
| 2005-07-31 21:30:46 |         4564 |
| 2005-08-18 08:26:05 |         4564 |
| 2005-07-27 10:21:15 |         4565 |
| 2005-08-18 06:47:19 |         4565 |
| 2005-06-21 06:24:45 |         4566 |
| 2005-07-06 04:42:47 |         4566 |
| 2005-08-02 12:02:37 |         4566 |
| 2005-08-18 17:31:36 |         4566 |
| 2005-06-17 03:19:20 |         4567 |
| 2005-07-07 12:18:57 |         4567 |
| 2005-07-27 14:53:55 |         4567 |
| 2005-08-20 17:18:48 |         4567 |
| 2005-05-30 05:15:20 |         4568 |
| 2005-06-18 06:46:54 |         4568 |
| 2005-07-12 05:24:02 |         4568 |
| 2005-08-02 02:05:04 |         4568 |
| 2006-02-14 15:16:03 |         4568 |
| 2005-07-06 11:40:27 |         4569 |
| 2005-07-29 04:57:43 |         4569 |
| 2005-08-19 21:19:27 |         4569 |
| 2005-07-09 14:31:24 |         4570 |
| 2005-08-01 08:58:08 |         4570 |
| 2005-08-21 22:41:56 |         4570 |
| 2005-08-01 01:54:23 |         4571 |
| 2005-08-17 09:03:24 |         4571 |
| 2005-06-19 19:18:09 |         4572 |
| 2005-07-09 05:52:54 |         4572 |
| 2005-07-27 00:32:04 |         4572 |
| 2005-08-22 17:52:05 |         4572 |
| 2005-05-30 05:01:30 |         4573 |
| 2005-06-18 05:30:36 |         4573 |
| 2005-07-11 11:44:41 |         4573 |
| 2005-07-31 15:35:43 |         4573 |
| 2005-08-23 08:48:43 |         4573 |
| 2005-07-12 21:46:33 |         4574 |
| 2005-07-29 06:54:48 |         4574 |
| 2005-08-19 16:18:24 |         4574 |
| 2005-06-17 15:47:00 |         4575 |
| 2005-07-07 14:22:45 |         4575 |
| 2005-08-02 10:00:55 |         4575 |
| 2005-08-21 17:43:42 |         4575 |
| 2005-06-18 08:34:59 |         4576 |
| 2005-07-08 10:05:02 |         4576 |
| 2005-07-31 10:45:11 |         4576 |
| 2005-08-18 04:50:32 |         4576 |
| 2005-05-31 11:10:17 |         4577 |
| 2005-06-16 00:52:51 |         4577 |
| 2005-07-11 00:08:54 |         4577 |
| 2005-07-31 05:40:35 |         4577 |
| 2005-08-19 02:18:51 |         4577 |
| 2005-07-12 11:28:22 |         4578 |
| 2005-08-02 21:00:05 |         4578 |
| 2005-08-18 11:21:51 |         4578 |
| 2005-05-28 11:33:46 |         4579 |
| 2005-06-19 19:15:21 |         4579 |
| 2005-07-09 14:34:09 |         4579 |
| 2005-07-29 02:23:24 |         4579 |
| 2005-08-18 11:22:53 |         4579 |
| 2005-08-01 10:11:25 |         4580 |
| 2005-08-23 17:56:01 |         4580 |
| 2005-05-29 03:49:03 |         4581 |
| 2005-06-15 21:50:32 |         4581 |
| 2005-07-12 13:24:47 |         4581 |
| 2005-07-31 07:32:21 |         4581 |
| 2005-08-19 03:49:28 |         4581 |
+---------------------+--------------+

In [29]:
#Adds a new actor into the actor table named LeBron James
!mysql sakila -e "INSERT INTO actor (first_name, last_name) VALUES ('LeBron', 'James');"

In [31]:
#Changes last name to Brady of row of person with staff_id being 1
!mysql sakila -e "UPDATE staff SET last_name = 'Brady' WHERE staff_id = 1;"

In [36]:
#Deletes the inventory row where store_id is 200
!mysql sakila -e "DELETE FROM inventory WHERE store_id = 200;"